<div class="container mt-5">
  <!--分類選單-->
  <div>
    <div class=" my-3 col-5 center">
      <form action="/search" method="POST">
        <select class="form-select" name="category" id="category" onchange="this.form.submit()">
          <option disabled selected>類別</option>
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <h2>開銷總額為：</h2>
    <strong class="fs-1 text-danger text-end">{{ totalAmount }} </strong>


    {{#each expense}}
    <div class="col-md-4 mx-auto ">
      <!--<div class="card-columns">-->
      <a href="/expense/{{this._id}}" class="text-secondary">
        <div class="card mb-3">

          <div class="card-body p-3">
            <h5 class="card-title mb-1">{{this.name}}</h5>

            <div class="mb-1 fw-light">



              <img src="">




              {{this.categoryId}}
            </div>
            <div><i class="fa-solid fa-calendar-days"></i> {{ this.date}}</div>
            <div>{{this.number}} 元</div>

            <div class="text-end">
              <a href="/expense/{{this._id}}/edit" class="btn btn-outline-primary my-2">Edit</a>
              <form action="/expense/{{ this._id }}?_method=DELETE" method="POST" style="display">
                <button type="submit" class="btn btn-outline-danger">delete</button>
              </form>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}






    <!--</div>-->
  </div>
</div>