
<div class="container">
  <h1 class="my-1 text-center">{{expense.name}}</h1>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

    <a href="/expense/{{ expense._id }}/edit" class="btn btn-outline-primary my-2">
    
    Edit
    
    </a>
      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{expense.category}}
      </p>
<p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{expense.date}}
      </p>
      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{expense.number}}
      </p>
      

      

      

      
    </div>
  </div>
</div>